*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: darkblue;
    overflow: hidden;
}

/*  #04061c Black Pearl, #422548 Bossanova 
    #ab2fa0 Medium Red Violet #bc4bb5 Fuchsia Pink 
    #5b21e3 Purple Heart #9a3e29 Burnt Umber
    #cca1a3 Eunry #4d2baa Daisy Bush

/*  Navigation Bar  */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #04061c;
}

.logo-img {
    position: absolute;
    left: 40%;
    top: 0;
}
.logo-img img{
    width: 30%;
}

.balance-display {
    position: relative;
    left: 60%; 
    top: 15px;
}
.balance-icon img{
    float: left;
    max-width: 6%;
    max-height: 6%;
    padding: 0.5em;
    background: rgba(216,216,216,0.1);
    border-radius: 50% 0 0 50%;
}
.balance-text {
    float: left;
    color: white;
    text-transform: uppercase;
    padding: 0.81em;
    background: rgba(216,216,216,0.1);
}

.top-up-icon img {
    padding: 0.44em;
    background: rgba(216,216,216,0.1);
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

/* Summon UI */

.game-background {
    overflow: hidden;
    position: relative;
}

.game-background img{
    min-height: 100%;
    min-width: 100%;
}

.btn-divider{
    width: 200px;
    height: auto;
    display: inline-block;
}

.summon-container{
    position: absolute;
    left: 28%;
    top: 40%;
}

.summon-container a{
    padding: 15px 50px;
    text-decoration: none;
    background: yellow;
}


/* Hamburger Menu */

.hamburger-menu-wrapper {
    background: #04061c;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.hamburger-menu-element {
    margin: 40px;
}

.hamburger-menu-link {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 3em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 0px 30px #bc4bb5,0px 0px 30px #bc4bb5,0px 0px 30px #bc4bb5,0px 0px 10px #bc4bb5,0px 0px 10px #bc4bb5;
    padding: 0.25em 1em;
}

.hamburger-menu-link:hover {
    animation: HoverEffect 0.75s linear infinite;
}
    @keyframes HoverEffect {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

.hamburger-menu-wrapper.active {
    opacity: 1;
    visibility: visible;
}

/* Hamburger Button */

.hamburger-menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 2;
}

.hamburger-menu {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ab2fa0;
    transition: all .5s ease-in-out;
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ab2fa0;
    transition: all .5s ease-in-out;
}

.hamburger-menu::before {
    transform: translateY(-16px);
}

.hamburger-menu::after {
    transform: translateY(16px);
}

/* Animation for hamburger menu */

.hamburger-menu-btn.open .hamburger-menu {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger-menu-btn.open .hamburger-menu::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-menu-btn.open .hamburger-menu::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/* */